body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #c3751c;
    font-size: 24px;
  }
  
  #quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #4c99af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }